/* Estilos gral */
.contenedor1 {
  background: linear-gradient(to top, #ccc, #fff);
  margin: 0 20px;
  margin-bottom: 40px;
}

h1 {
  color: #1e5594;
  margin-top: 20px;
  margin: 15px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 30px; /* Tamaño de letra para dispositivos móviles */
}

/* Estilos carrusel */
.letrasCarousel {
  font-size: 30px; /* Tamaño de letra para dispositivos móviles */
  text-shadow: 0px 0px 10px rgb(23, 12, 89), 0px 0px 20px rgba(255, 255, 255, 1),
    0px 0px 30px rgba(255, 255, 255, 1), 0px 0px 40px rgba(241, 159, 77, 1);
  color: #f3f1ee;
  -webkit-text-stroke: 1px black;
}

.d-block.w-100 {
  max-height: 300px; /* Altura máxima para dispositivos móviles */
  object-fit: cover;
}

.carrusel {
  margin-bottom: 30px;
}

/* Estilos tarjetas */
.tarjetaproducto {
  font-size: 1rem; /* Tamaño de letra para dispositivos móviles */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  height: 400px; /* Altura para dispositivos móviles */
  background-image: linear-gradient(to top, #f19f4d, #f8efe5);
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out, background-color 0.2s ease-in-out;
  opacity: 0; /* Establecemos la opacidad inicial de la tarjeta en 0 */
  
}

.no-subrayado {
  text-decoration: none;
}


/* Estilos gral */
.contenedor1 {
  background: linear-gradient(to top, #ccc, #fff);
  margin: 0 20px;
  margin-bottom: 40px;
}
h1 {
  color: #1e5594;
  margin-top: 20px;
  margin: 15px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Estilos carrusel */
.letrasCarousel {
  font-size: 50px;
  text-shadow: 0px 0px 10px rgb(23, 12, 89), 0px 0px 20px rgba(255, 255, 255, 1),
    0px 0px 30px rgba(255, 255, 255, 1), 0px 0px 40px rgba(241, 159, 77, 1);
  color: #f3f1ee;
  -webkit-text-stroke: 1px black;
}

.d-block.w-100 {
  max-height: 500px;
  object-fit: cover;
}

.carrusel {
  margin-bottom: 30px;
}

/* Estilos tarjetas */
.g-2 {
  padding: 20px;
}
.tarjetaproducto {
  font-size: 1.2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  height: 630px;
  background-image: linear-gradient(to top, #f19f4d, #f8efe5);
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out, background-color 0.2s ease-in-out;
  opacity: 0; /* Establecemos la opacidad inicial de la tarjeta en 0 */
  text-decoration: none;
}
.tarjetaproducto a {
  text-decoration: none; /* Evita el subrayado de los enlaces */
  color: inherit; /* Hereda el color del texto del elemento padre */
}

.tarjetaproducto:nth-child(even) {
  animation: slideInRight 2s ease forwards; /* Agregamos la animación slideInRight a las tarjetas pares con una duración de 1 segundo y un efecto suave de entrada (ease) */
}

.tarjetaproducto:nth-child(odd) {
  animation: slideInLeft 1s ease forwards; /* Agregamos la animación slideInLeft a las tarjetas impares con una duración de 1 segundo y un efecto suave de entrada (ease) */
}

@keyframes slideInRight {
  from {
    opacity: 0; /* La tarjeta comienza con una opacidad de 0 */
    transform: translateX(
      100%
    ); /* La tarjeta se mueve hacia la derecha para que parezca que entra desde ese lado */
  }
  to {
    opacity: 1; /* La tarjeta termina con una opacidad de 1 */
    transform: translateX(0); /* Regresamos la tarjeta a su posición original */
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0; /* La tarjeta comienza con una opacidad de 0 */
    transform: translateX(
      -100%
    ); /* La tarjeta se mueve hacia la izquierda para que parezca que entra desde ese lado */
  }
  to {
    opacity: 1; /* La tarjeta termina con una opacidad de 1 */
    transform: translateX(0); /* Regresamos la tarjeta a su posición original */
  }
}

.tarjetaproducto:hover {
  transform: scale(1.03) translateY(-10px) !important;
}

.card-title.card-title.h5 {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1),
    0px 0px 20px rgba(255, 255, 255, 1), 0px 0px 30px rgba(255, 255, 255, 1),
    0px 0px 40px rgba(241, 159, 77, 1);
  color: black;
}

/* Estilos carrusel */
@media (max-width: 768px) {
  .letrasCarousel {
    font-size: 25px; /* Tamaño de letra para dispositivos móviles */
  }

  .d-block.w-100 {
    min-height: 320px;
    max-height: 320px; /* Establecer una altura máxima */
    width: auto; /* Asegurar que el ancho se ajuste automáticamente */
    object-fit: cover; /* Ajustar la imagen manteniendo las proporciones */
  }
}

.carrusel {
  margin-bottom: 30px;
}

/* Estilos tarjetas dispositivos pequeños */
@media (max-width: 768px) {
  .tarjetaproducto {
    font-size: 1rem; /* Tamaño de letra para dispositivos móviles */
    height: 500px; /* Altura para dispositivos móviles */
  }


}
